## Purpose

This Jupyter Notebook reads in Excel files that have been manually downloaded from the U.S. Census website: https://www.census.gov/programs-surveys/household-pulse-survey/data.html 

These files contain data from the Household Pulse Survey, "designed to quickly and efficiently deploy data collected on how people’s lives have been impacted by the COVID-19 pandemic."

Specifically, this notebook reads in files from different weeks of data collection around technology access for education in families with children and extracts data from Washington State and the Seattle Metropolitan Area. The data from different weeks are appended to the same dataframe and exported as a CSV file.

## Set up environment

In [98]:
# Import modules 
import pandas as pd # data manipulation

In [99]:
# Initialize list of file names 
# Raw files
raw_dir = '/home/jupyter/tech_access_usa/raw_data/HPS/educ/educ3/' # directory
raw_files = ["educ3_050520.xlsx", "educ3_051220.xlsx", "educ3_051920.xlsx", "educ3_052620.xlsx"]
# Save files
save_dir = '/home/jupyter/tech_access_usa/csv_data/' # directory
save_file = 'educ3.csv'

## Import data

In [100]:
# Create list of characteristics 
select_characteristics = [None, "Total", 
                  None, "Age: 18-24", "Age: 25-39", "Age: 40-54", "Age: 55-64", "Age: 65 and above", 
                 None, "Gender: Male", "Gender: Female", 
                 None, "Hispanic origin and Race: Hispanic or Latino (may be of any race)", 
                  "Hispanic origin and Race: White alone, not Hispanic", 
                 "Hispanic origin and Race: Black alone, not Hispanic", 
                  "Hispanic origin and Race: Asian alone, not Hispanic", 
                  "Hispanic origin and Race: Two or more races + Other races, not Hispanic",
                 None, "Education: Less than high school", "Education: High school or GED", 
                 "Education: Some college/associate’s degree", "Education: Bachelor’s degree or higher",
                 None, "Marital status: Married", "Marital status: Widowed", "Marital status: Divorced/separated",
                 "Marital status: Never married", "Marital status: Did not report",
                 None, "Presence of children under 18 years old: Children in household", 
                 "Presence of children under 18 years old: No children",
                 None, "Computer provided by: Children’s school or school district", 
                 "Computer provided by: Someone in household or family or belongs to child", 
                 "Computer provided by: Some other source", "Computer provided by: Did not report", 
                 None, "Internet provided by: Children’s school or school district", 
                 "Internet provided by: Someone in household or family or belongs to child", 
                 "Internet provided by: Some other source", "Internet provided by: Did not report",
                 None, "Respondent or household member experienced loss of employment income: Yes", 
                 "Respondent or household member experienced loss of employment income: No", 
                 "Respondent or household member experienced loss of employment income: Did not report", 
                 None, "Respondent currently employed: Yes", 
                 "Respondent currently employed: No", 
                 "Respondent currently employed: Did not report", 
                 None, "Food sufficiency for households prior to March 13, 2020: Enough of the types of food wanted",
                 "Food sufficiency for households prior to March 13, 2020: Enough of the types of food wanted", 
                 "Food sufficiency for households prior to March 13, 2020: Sometimes not enough to eat", 
                 "Food sufficiency for households prior to March 13, 2020: Often not enough to eat", 
                 "Food sufficiency for households prior to March 13, 2020: Did not report", 
                 None, "Household income: Less than $25,000", "Household income: $25,000 - $34,999", 
                 "Household income: $35,000 - $49,999", "Household income: $50,000 - $74,999", 
                 "Household income: $75,000 - $99,999", "Household income: $100,000 - $149,999", 
                 "Household income: $150,000 - $199,999", "Household income: $200,000 and above", 
                 "Household income: Did not report", 
                 None]

In [101]:
# Initialize empty dataframe 
educ3_df = pd.DataFrame()

In [102]:
# Loop through files to extract data
for i in range(0, len(raw_files)):
    
    # Initilize list of locations from sheet names in Excel file 
    locations = pd.ExcelFile(raw_dir + raw_files[i]).sheet_names
    
    # Loop through locations to select sheet
    for j in range(0, len(locations)):
        #Read sheet from Excel file 
        file = pd.read_excel(raw_dir + raw_files[i], sheet_name = locations[j], skiprows = 4, na_values = '-')
        
        # Rename groups in "Select characteristics" column for better formatting
        file.iloc[:,0] = select_characteristics
        
        # Extract rows
        data = file.iloc[:,2:14]
        
        # Add columns to specify ...
        # location
        data.insert(0, "Location", locations[j])
        # date
        data.insert(1, "Date", [raw_files[i][6:12]]*file.shape[0], True) 
        # group 
        data.insert(2, "Group", file.iloc[:,0], True) 
        # total surveyed 
        data.insert(3, "Total", file.iloc[:,1], True)
        
        # Append to dataframe
        educ3_df = educ3_df.append(data)
        

# Show dataframe
educ3_df

,Location,Date,Group,Total,Device always available for educational purposes,Device usually available for educational purposes,Device sometimes available for educational purposes,Device rarely available for educational purposes,Device never available for educational purposes,Did not report,Internet always available for educational purposes,Internet usually available for educational purposes,Internet sometimes available for educational purposes,Internet rarely available for educational purposes,Internet never available for educational purposes,Did not report.1
0,US,050520,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US,050520,Total,66561640.0,46713712.0,11020451.0,4887743.0,1987773.0,1096152.0,855810.0,48326505.0,11133943.0,3308815.0,1411485.0,1034373.0,1346519.0
2,US,050520,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US,050520,Age: 18-24,3091963.0,1951410.0,627894.0,294423.0,91231.0,61351.0,65655.0,2010816.0,652620.0,126887.0,118577.0,39744.0,143318.0
4,US,050520,Age: 25-39,26509961.0,16846599.0,4896617.0,2684805.0,1300220.0,489931.0,291788.0,18412158.0,4550103.0,1808068.0,882815.0,360504.0,496313.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Los.Angeles_Metro_Area,052620,"Household income: $100,000 - $149,999",324430.0,275089.0,40710.0,8631.0,NaN,NaN,NaN,277419.0,46254.0,757.0,NaN,NaN,NaN
62,Los.Angeles_Metro_Area,052620,"Household income: $150,000 - $199,999",253893.0,241507.0,12386.0,NaN,NaN,NaN,NaN,241025.0,12868.0,NaN,NaN,NaN,NaN
63,Los.Angeles_Metro_Area,052620,"Household income: $200,000 and above",159867.0,143875.0,11118.0,4875.0,NaN,NaN,NaN,140636.0,19231.0,NaN,NaN,NaN,NaN
64,Los.Angeles_Metro_Area,052620,Household income: Did not report,78359.0,41290.0,1596.0,NaN,18678.0,NaN,16795.0,31313.0,2332.0,NaN,NaN,NaN,44714.0
65,Los.Angeles_Metro_Area,052620,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Clean data

Light data cleaning before export.

In [103]:
# Split Group column into two columns - one tracking higher level characteristic & one tracking group
educ3_df[["Characteristic", "Group"]] = educ3_df["Group"].str.split(": ", expand = True)

In [104]:
# Visual check
educ3_df

,Location,Date,Group,Total,Device always available for educational purposes,Device usually available for educational purposes,Device sometimes available for educational purposes,Device rarely available for educational purposes,Device never available for educational purposes,Did not report,Internet always available for educational purposes,Internet usually available for educational purposes,Internet sometimes available for educational purposes,Internet rarely available for educational purposes,Internet never available for educational purposes,Did not report.1,Characteristic
0,US,050520,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,US,050520,None,66561640.0,46713712.0,11020451.0,4887743.0,1987773.0,1096152.0,855810.0,48326505.0,11133943.0,3308815.0,1411485.0,1034373.0,1346519.0,Total
2,US,050520,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,US,050520,18-24,3091963.0,1951410.0,627894.0,294423.0,91231.0,61351.0,65655.0,2010816.0,652620.0,126887.0,118577.0,39744.0,143318.0,Age
4,US,050520,25-39,26509961.0,16846599.0,4896617.0,2684805.0,1300220.0,489931.0,291788.0,18412158.0,4550103.0,1808068.0,882815.0,360504.0,496313.0,Age
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Los.Angeles_Metro_Area,052620,"$100,000 - $149,999",324430.0,275089.0,40710.0,8631.0,NaN,NaN,NaN,277419.0,46254.0,757.0,NaN,NaN,NaN,Household income
62,Los.Angeles_Metro_Area,052620,"$150,000 - $199,999",253893.0,241507.0,12386.0,NaN,NaN,NaN,NaN,241025.0,12868.0,NaN,NaN,NaN,NaN,Household income
63,Los.Angeles_Metro_Area,052620,"$200,000 and above",159867.0,143875.0,11118.0,4875.0,NaN,NaN,NaN,140636.0,19231.0,NaN,NaN,NaN,NaN,Household income
64,Los.Angeles_Metro_Area,052620,Did not report,78359.0,41290.0,1596.0,NaN,18678.0,NaN,16795.0,31313.0,2332.0,NaN,NaN,NaN,44714.0,Household income
65,Los.Angeles_Metro_Area,052620,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [105]:
# Create count of original number of rows for later checking
orig_rows = educ3_df.shape[0]

In [106]:
# Show rows to drop that have NAs for all counting columns
educ3_df[educ3_df.apply(lambda x: x.count(), axis=1) < 5].iloc[:, 5:16]

,Device usually available for educational purposes,Device sometimes available for educational purposes,Device rarely available for educational purposes,Device never available for educational purposes,Did not report,Internet always available for educational purposes,Internet usually available for educational purposes,Internet sometimes available for educational purposes,Internet rarely available for educational purposes,Internet never available for educational purposes,Did not report.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
# Show that all are NAs only 
educ3_df[educ3_df.apply(lambda x: x.count(), axis=1) < 5].iloc[:, 5:16].dropna()

Empty DataFrame
Columns: [Device usually available for educational purposes, Device sometimes available for educational purposes, Device rarely available for educational purposes, Device never available for educational purposes, Did not report, Internet always available for educational purposes, Internet usually available for educational purposes, Internet sometimes available for educational purposes, Internet rarely available for educational purposes, Internet never available for educational purposes, Did not report.1]
Index: []

In [108]:
# Count number of rows to drop -- where all the counting columns have missing values 
drop_rows = educ3_df[educ3_df.apply(lambda x: x.count(), axis=1) < 5].iloc[:, 5:16].shape[0]

In [109]:
# Drop rows where all columns containing counts have missing values 
educ3_df = educ3_df.loc[educ3_df.iloc[:, 5:16].isnull().sum(axis = 1) != 11,:]

In [110]:
# Check with counts 
educ3_df.shape[0] == orig_rows - drop_rows # check passed

True

## Save data

In [111]:
# Save to CSV 
educ3_df.to_csv(save_dir + save_file, index=False)